.nav-container {
  position : absolute;
  z-index: 100;
  top : 135px;
  width : 50%;
  // padding-left: 10%;
  // the below takes the nav off the screen
  // the click should toggle a transition animation
  left : -25%;
  transition-property : left;
  transition-duration : 1.5s;
  transition-delay: 0;
}

// create an animation to show the menu
// need to also make it so that if you click anywhere else beside the menu-item
// the nav should slide back
.nav-container-show {
  left : 8%;
}

.application-content {
  transition-property : color, transform, opacity;
  transition-duration : 1s, 1s, 1s;
  // transition-delay: 0, 0, 0;
}

.text-grayout {
  color: #c0c0c0;
  transform: translate3d(250px, 0, 0);
  opacity: 0.4;
}
