.vhheader{
  padding: 25px 0px 25px 0px;
  width : 100%;
  border-bottom : 1px solid rgba(0,0,0,0.059);

  &.header-wrapper {
    top : 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding-top: 15px;
    transition : opacity 0.3s;
    .menu-item {
      // this moves the vh at the header over, unsure if I want it there
      padding-left: 20%;
      cursor : pointer;
      width : 100px;
      visibility: visible;
    }
  }

  .burger-nav {
    padding-left: 10%;
    img {
      cursor : pointer;
      visibility: visible;
    }
  }

  .header-link {

  }
}
